<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/js/vue.js"></script>
    <title>V-for 案例</title>
</head>
<body>
  <!-- v-for指令是循环渲染一组data中的数组，v-for 指令需要以 item in items 形式的特殊语法，items 是源数据数组并且item是数组元素迭代的别名。 -->

    <h1>v-for指令用法</h1>
    <hr>
    <div id="app">
       <ul>
           <li v-for="item in sortItems">
                {{item}}
           </li>
       </ul>
       <hr>
       <!-- 在输出之前给数组排个序，那我们就用到了Vue的computed:属性。 -->
       <ul>
           <li v-for="(student,index) in sortStudent">
               {{index}}：{{student.name}} - {{student.age}}
           </li>
       </ul>
    </div>

    <script type="text/javascript">
        var app=new Vue({
            el:'#app',
            data:{
                items:[20,23,18,65,32,19,5,56,41],
                students:[
                    {name:'jspang',age:32},
                    {name:'Panda',age:30},
                    {name:'PanPaN',age:21},
                    {name:'King',age:45}
                ]
            },
           computed:{
            // 我们在computed里新声明了一个对象sortItems，如果不重新声明会污染原来的数据源，这是Vue不允许的，所以你要重新声明一个对象。注意：vue低版本中 data里面的items和computed里面可以一样，但是高版本，是不允许相同名称。
               sortItems:function(){
                   return this.items.sort(sortNumber);
               },
               sortStudent:function(){
                   return sortByKey(this.students,'age');
               }
           }
        });

        //数组对象方法排序:
        function sortByKey(array,key){
            return array.sort(function(a,b){
                var x=a[key];
                var y=b[key];
                return ((x<y)?-1:((x>y)?1:0));
            });
        }
        // js排序方法
        function sortNumber(a,b){
            return a-b
        }
    </script>
</body>
</html>